@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans&family=Poppins&family=Source+Sans+Pro:wght@600&display=swap');
/*font-family: 'Black Han Sans', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    flex: 1;
}           
nav img{
    width: 160px;
    height: 60px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links li{
    display: inline-block;
    padding: 0px 2px;
    margin-right: 50px;
}
.nav-links li a{
    color:#652e8c;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
.nav-links li a:hover{
    color:#e31338;
    transition: 0.4s;
}
.about{
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.about h1{
    margin-top: 0px;
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 70px;
    color:#e31338;
    text-shadow: black 3px 5px;
    padding: 50px 0px 50px;
}
.about h2{
    font-size: 48px;
    margin: 50px 0px;
    color:#e31338;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-align: center;
}
#about-container{
    background-image: linear-gradient(#eec4ea60,#eec4eaa2),url(cover.jpg);
    border: 5px solid #652E8C;
    border-radius: 10px;
    width: 1200px;
    height: max-content;
    padding: 20px;
    font-size: 24px;
    margin-bottom: 50px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;

}
#scratch, #python, #web{
    border: 5px dashed #652E8C;
    background: #eec4ea;
    color:#80407f;
    width: 1200px;
    height: max-content;
    padding: 20px;
    flex-wrap: wrap;
}
iframe{
    padding:20px;
}
.container li{
    padding: 10px;
}
.container a{
    color:#80407f;
    text-decoration: none;
}

.footer{
    background-color:#80407f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
}
.footer h1{
    font-size: 32px;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 50px;
    padding: 10px;
}
#imglink{
    width: 56px;
}
